* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Tło strony i wyśrodkowanie głównej zawartości */
body {
  background-color: #0D0F0C;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}

/* Stylizacja pól formularza */
.formularz {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
}

/* Karta / Kontener z białym tłem i cieniem */
.card {
  background: #141812;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25), 0 12px 32px rgba(0, 0, 0, 0.18);
  width: 100%;
  max-width: 750px;
  margin-bottom: 20px;
  color: #E8E9E3;
}

label {
  font-size: 13px;
  font-weight: 600;
  color: #A5AA9B;
  margin-bottom: 4px;
}

h2, h3 {
  color: #E8E9E3; /* Zielony akcent */
  margin-bottom: 16px;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

/* Efekt zaznaczenia pola formularza */
input:focus, select:focus {
  border-color: #30372A;
}

/* Przyciski */
button {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 11px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #1b5e20;
}

.button-secondary {
  background-color: #757575;
}

.button-secondary:hover {
  background-color: #424242;
}

.hidden {
  display: none;
}

/* Górny pasek nawigacyjny po zalogowaniu */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1A1F17;
  padding: 14px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25), 0 12px 32px rgba(0, 0, 0, 0.18);
}

.user-info {
  color: #E8E9E3;
}

/* Tabela z danymi */
.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

th {
  background-color: #f8f9fa;
  color: #2e7d32;
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.grid-form .btn-full {
  grid-column: span 2;
  margin-top: 8px;
}


/* dla ekranów telefonów */
@media (max-width: 500px) {
  .grid-form {
    grid-template-columns: 1fr;
  }
  .grid-form .btn-full {
    grid-column: span 1;
  }
}

p{
  font-size: 10px;
  color: #888;
  text-align: right;
  margin-top: 20px;
}